<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        
        <servlet-name>registerservlet</servlet-name>
        <servlet-class>bookstore.servlets.registerservlet</servlet-class>
        
    </servlet>
    <servlet>
        <servlet-name>signinservlet</servlet-name>
        <servlet-class>bookstore.servlets.signinservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>bookstore.servlets.logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproductservlet</servlet-name>
        <servlet-class>bookstore.adminservlets.addproductservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogoutservlet</servlet-name>
        <servlet-class>bookstore.adminservlets.adminlogoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocartservlet</servlet-name>
        <servlet-class>bookstore.servlets.addtocartservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>increasequantity</servlet-name>
        <servlet-class>bookstore.servlets.increasequantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>decreasequantity</servlet-name>
        <servlet-class>bookstore.servlets.decreasequantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductFromCart</servlet-name>
        <servlet-class>bookstore.servlets.DeleteProductFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addorderservlet</servlet-name>
        <servlet-class>bookstore.servlets.addorderservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerservlet</servlet-name>
        <url-pattern>/registerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signinservlet</servlet-name>
        <url-pattern>/signinservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproductservlet</servlet-name>
        <url-pattern>/addproductservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogoutservlet</servlet-name>
        <url-pattern>/adminlogoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocartservlet</servlet-name>
        <url-pattern>/addtocartservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>increasequantity</servlet-name>
        <url-pattern>/increasequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>decreasequantity</servlet-name>
        <url-pattern>/decreasequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductFromCart</servlet-name>
        <url-pattern>/DeleteProductFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addorderservlet</servlet-name>
        <url-pattern>/addorderservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <location>/error_page.jsp</location>
    </error-page>
</web-app>
